site_name: Where Is Vishal
site_url: https://whereisvishal.com/
site_author: Vishal | وشال
theme:
  name: material
  font:
    text: Space Mono
    code: Space Mono
  icon:
    logo: material/rocket-launch
  favicon: images/icons8-poem-stickers-32.png
  palette:
    # Vaporwave Mode
    - scheme: slate
      primary: deep-purple
      accent: pink
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - header.autohide
plugins:
  - search
markdown_extensions:
  - toc:
      permalink: true
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
extra_css:
  - stylesheets/extra.css
  - https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css
extra_javascript:
  - https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.js
  - https://unpkg.com/@turf/turf@6/turf.min.js
  - assets/map-animation.js