details {
  display: flow-root;
  margin: px2em(20px, 12.8px) 0;
  padding: 0 px2rem(12px);
  color: var(--md-admonition-fg-color);
  font-size: px2rem(12.8px);
  page-break-inside: avoid;
  background-color: var(--md-admonition-bg-color);
  border: px2rem(1px) solid $clr-blue-a200;
  border-radius: px2rem(4px);
  box-shadow: var(--md-shadow-z1);
}
