@keyframes heart {
    0%, 40%, 80%, 100% {
      transform: scale(1);
    }
    20%, 60% {
      transform: scale(1.1);
    }
  }
  .heart {
    animation: heart 1000ms infinite;
  }

body {
  font-family: 'Albert Sans', sans-serif; /* Default font */
}
